<!-- your html code here -->
<!-- Kennedy -->
<div class="container">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim vestibulum arcu, nec lobortis neque
        luctus quis. Donec interdum leo sed neque consequat dapibus. Nullam nec tempor ligula.</p>
    <div class="container ms-5 border border-dark bg-light pt-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row mb-3">
                    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label"><strong>Your
                            E-mail</strong></label>
                    <div class="col-5">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label"><strong>Your
                            Message</strong></label>
                    <div class="col-5">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                            placeholder="Please enter your mesage here..."></textarea>
                    </div>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>