<!-- your html code here -->
<!-- ibrahim -->
<span class="border-top">

    <div class="container">
        <div class="row">
            <div class="col-9">
                <h3>
                    The First Heading
                    <small class="text-muted">Will catch your eye</small>
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto odit ex adipisci alias, minima
                    similique quaerat! Veritatis eaque cumque dolores cum nostrum sequi, sapiente totam provident
                    similique ex doloribus!</p>

            </div>
            <div class="col-3">
                <img src="../../img/1.jpg" class="rounded-circle img-fluid">
            </div>
        </div>
</span>
</div>